update references

ISO/IEC 8824-1:2002 withdrawn and replaced with ISO/IEC 8824-1:2015.
RFC 1521 obsoleted by RFC 2045. Possibly unneeded.
FIPS 180-2 superseded by FIPS 180-4.
RFC 3447 obsoleted by RFC 8017.
RFC 4055 updated by RFC 5756.
RFC 3280 obsoleted by RFC 5280.
X.509 08/97 superseded by X.509 10/19.
_Bibliography_:
ST 429-7 itself needs another revision.
ST 430-3 has been updated and itself needs another revision.
_Practical Cryptography_ has a new edition.
FIPS 140-2 has been superseded by 140-3.
ST 430-1 itself needs another revision.
KMG draft replaced by SP 800-57.
ST 429-8 itself needs another revision.
Not sure why ST 429-14 is included.
